body, .App {
  margin: 0px;
	padding: 0px;
  background-color: #ebeeef;
	box-sizing: border-box;
	font-family: Poppins-Regular, sans-serif;
}

body {
  padding: 1em;
}


/* HIDE INPUT NUMBER SPINNER  ----- */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* full width dropdowns */
.dropdown {
  width: 100%;
}
.dropdown-trigger {
  width: 100%;
}
button {
  width: 100%;
}
button::after {
  text-align: right;
}